.navbar {
    background-color: white;
}

.nav-link {
    color: rgb(19,46,67);
    font-size: 18px;
    cursor: pointer;
}

.nav-link:hover {
    border-bottom: 3px solid red;
}

.btn-danger:hover {
    border-bottom: none;
}